<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAbT6Ree9Rsk_4Hb0CCJDKGanGysDrevdQ</string>
	<key>GCM_SENDER_ID</key>
	<string>700625783302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rewardHubCustomer.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bizatom-87e3f</string>
	<key>STORAGE_BUCKET</key>
	<string>bizatom-87e3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:700625783302:ios:f4490e17f8bf30e9b55187</string>
</dict>
</plist>